# dependencies
node_modules/

# build outputs
# dist/
dist-ssr/
*.zip

# environment files
.env
.env.local
.env.*.local

# OS junk
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

#SHOPIFY SECRET STUFF
/src/services/shopify.js
/src/services/shopifyImport.js
/src/services/shopifyService.js".env" 
.env 
